.single-order {
    width: 100%;
    display: flex;

    .single-order-container {
        flex: 6;

        .single-order-top,
        .single-order-bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 1rem;
            margin: 1rem;
            display: flex;

            .single-order-top-text {
                font-size: 2rem;
                color: #003667;
                font-weight: bold;
            }

            .single-order-wrapper-top {
                color: #003667;
            }

            .single-order-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;

                .single-order-list {
                    //background-color: red;
                    border: 1px solid #003667;
                    border-radius: 10px;
                    color: #003667;
                    padding: .5rem;
                    margin: .25rem;
                    display: flex;
                    align-items: center;
                    width: 100%;


                    .single-order-img {
                        flex: .5;
                        display: flex;
                        justify-content: center;
                    }

                    .single-order-descripcion {
                        flex: 1;
                        display: flex;
                        justify-content: start;
                    }

                    .single-order-cantidad {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                    }

                    .single-order-precio {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                    }

                }
            }

            button {
                width: 150px;
                padding: .5rem;
                border: none;
                border-radius: 5px;
                background-color: #003667;
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin-top: .5rem;
            }

            h1 {
                color: #003667;
                font-size: var(--step-2);
            }


        }
    }
}