.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: #003667;
  border-radius: .5rem;

  .titulo-boton{

    display: flex;
    flex-direction: row;
    margin: 2px;
  
    .title {
      margin-bottom: 0rem;
    }
  
    .button-reporte{
      text-decoration: none;
      background-color: #045694;
      color: white;
      font-size: 16px;
      font-weight: bolder;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      margin-left: 2%;
      width: 15%;
      text-align: center;
    }
  }
 

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}