.lista {
    display: flex;
    width: 100%;

    .lista-container {
        flex: 6;

        .datatable {
            height: calc(100vh - 100px);
            padding: 0.5rem;

            .datatableTitle {
                width: 100%;
                font-size: 2rem;
                color: #003667;
                font-weight: bold;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .link {
                    text-decoration: none;
                    background-color: #0d6efd;
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    //border: 1px solid green;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            .cellWithImg {
                display: flex;
                align-items: center;

                .cellImg {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 20px;
                }
            }

            .buttonList {

                padding: 20px;


            }

            .cellWithStatus {
                padding: 5px;
                border-radius: 5px;

                &.active {
                    background-color: rgba(0, 128, 0, 0.05);
                    color: green;
                }

                &.pending {
                    background-color: rgba(255, 217, 0, 0.05);
                    color: goldenrod;
                }

                &.passive {
                    background-color: rgba(255, 0, 0, 0.05);
                    color: crimson;
                }
            }

            .cellAction {
                display: flex;
                align-items: center;
                gap: 15px;

                .viewButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #003667;
                    border-radius: 5px;
                    color: white;
                    font-size: var(--step--1);
                    padding: 2px 5px;
                    cursor: pointer;

                    &:hover {
                        opacity: 80%;
                    }
                }

                .deleteButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    //border: 1px dotted rgba(220, 20, 60, 0.6);
                    border-radius: 5px;
                    color: white;
                    font-size: var(--step--1);
                    padding: 2px 5px;
                    cursor: pointer;

                    &:hover {
                        opacity: 80%;
                    }
                }
            }
        }
    }
}