.sidebar {
  background-color: #045694;
  border-right: 0.5px solid #fff;
  flex: 1;
  height: 170vh;
  /*   left: 0;
  position: sticky;
  top: 0; */

  .top {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;

    .logo {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }

  hr {
    border: 0.5px solid #fff;
    height: 0;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      .title {
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        align-items: center;
        display: flex;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgba(39.99114789068699, 153.13874423503876, 215.9154948592186, 1);
        }

        .icon {
          color: #ffff;
          font-size: 18px;
        }

        span {
          color: white;
          font-size: 13px;
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }
  }
}